<div class="container">
    <div class="card">
      <div class="text-align">
        <h3>Quelques questions pour te connaître</h3>
      </div>
    </div>
    <div class="card">
      <%= form_with model: Surfboard.new, class: "form" do |f| %>
      <%= f.label 'Quel est ton prénom?' %>
      <%= f.text_field :name, class: "text-input" %>
        <br>
    <div class="card">
      <%= f.label 'Genre' %>
        <br>
      <select class="form-select" aria-label="Default select example">
        <option value="homme">homme</option>
        <option value="femme">femme</option>
        <option value="autre">autre</option>
        <option value="autre">je préfère ne pas le dire</option>
      </select>
    </div>

      <div class="card">
        <div class="slidecontainer">
        <p>Poids(kg)</p>
          <input type="range" min="1" max="200" value="70" class="slider" id="myRange">
        </div>
      </div>

      <div class="card">
        <div class="slidecontainer">
          <p>Taille(cm)</p>
            <input type="range" min="1" max="200" value="70" class="slider" id="myRange">
        </div>
      </div>
      <br>

      <div class="card">
        <%= f.label 'Niveau de surf' %>
        <br>
        <div class="container d-flex justify-content-between">
          <button type="button" class="btn btn-form" .text-center>débutant(e)</button>
            <button type="button" class="btn btn-form" .text-center>intermédiaire</button>
              <button type="button" class="btn btn-form" .text-center>avancé(e)</button>
        </div>
      </div>

      <div class="card">
        <div class="slidecontainer">
        <p>Tu surfs combien de fois par mois?</p>
          <input type="range" min="1" max="200" value="70" class="slider" id="myRange">
        </div>
      </div>

      <div class="card">
       <%= f.label 'Tu préfères quels types de vagues' %>
        <br>
        <div class="container d-flex justify-content-between">

          <button type="button" class="btn btn-form" .text-center>small</button>
            <button type="button" class="btn btn-form" .text-center>big</button>
              <button type="button" class="btn btn-form" .text-center>wild</button>
        </div>
      </div>

      <div class="card">
        <%= f.label "Temperature de l'eau (celsius)" %>

        <select class="form-select" aria-label="Default select example">
          <option value="1">0-5</option>
          <option value="2">5-15</option>
          <option value="3">15-20</option>
        </select>
      </div>

      <%# replace with form action - submit %>
      <div class="card">
      <div class="d-flex justify-content-center">
        <a href=resultats class="btn btn-flat" role="button" aria-pressed="true">voir les résultats</a>
      </div>
    <% end %>
  </div>
</div>
