<div class="formcontainer">
  <div class="text-align">
    <h3>Quelques questions pour te connaître</h3>
  </div>

  <%= form_with url: "/results", method: :get do |f| %>

    <%= f.label :gender, "Etes-vous un(e) ?" %><br />

    <%= f.label :gender, "Homme", value: "men"%>
    <%= f.radio_button :gender, "men"  %>
    <%= f.label :gender, "Femme", value: "women" %>
    <%= f.radio_button :gender, "women" %>

    <br>
    <%= f.label 'Quel est ton poid ?' %>
    <%= f.text_field :weight, class: "text-input" %>

    <br>
    <%= f.label 'Quel est ta taille ?' %>
    <%= f.text_field :size, class: "text-input" %>

    <br>
    <%= f.label :level, "Quel est votre niveau ?" %><br />
    <%= f.label :level, "Débutant", value: "Débutant"%>
    <%= f.radio_button :level, "Débutant"  %>
    <%= f.label :level, "Intermédiaire", value: "Intermédiaire" %>
    <%= f.radio_button :level, "Intermédiaire" %>
    <%= f.label :level, "Confirmé", value: "Confirmé" %>
    <%= f.radio_button :level, "Confirmé" %>


    <br>
    <%= f.label :waves, "Quel type de vagues tu surfes ?" %><br />
    <%= f.label :waves, "Molles", value: "Molles"%>
    <%= f.radio_button :waves, "Molles"  %>
    <%= f.label :waves, "Creuses", value: "Creuses" %>
    <%= f.radio_button :waves, "Creuses" %>


    <br>
    <%= f.label :objective, "Quel est ton objectif ?" %><br />
    <%= f.label :objective, "Plaisir", value: "Plaisir"%>
    <%= f.radio_button :objective, "Plaisir"  %>
    <%= f.label :objective, "Performance", value: "Performance" %>
    <%= f.radio_button :objective, "Performance" %>

     <br>
    <%= f.label :temperature, "Dans quelle température d'eau as-tu l'habitude de surfer ?" %><br />
    <%= f.label :temperature, "5 - 13", value: "5 - 13"%>
    <%= f.radio_button :temperature, "5 - 13"  %>
    <%= f.label :temperature, "13 - 20", value: "13 - 20" %>
    <%= f.radio_button :temperature, "13 - 20" %>
    <%= f.label :temperature, "20 et +", value: "20 et +" %>
    <%= f.radio_button :temperature, "20 et +" %>

    <%= f.submit %>

  </div>
</div>


  <% end %>

  </div>
</div>
