<div class="container">
  <div class="card">
    <div class="text-align">
      <h3>Salut jeune surfeur, j’ai besoin d’en savoir davantage sur toi, discutons ensemble ! </h3>
    </div>
  </div>
  <div class="card" >
    <div data-controller="hello">
    <%= form_with url: "/results", method: :get, data: {controller: "check"} do |f|%>
      <%= f.label :gender, " Tu t'identifies en tant que ?", class: "element-bold" %>
      <div class="gender">
        <%= f.radio_button :gender, "men", class: "radio", data: { action: "change->check#verify"} %>
        <%= f.label :gender, value: "men", class: "label-image" do %>
          <%= image_tag 'avatar_homme.png' %>
        <% end %>
        <%= f.radio_button :gender, "women", class: "radio", data: { action: "change->check#verify"} %>
        <%= f.label :gender, "Femme", value: "women", class:"label-image" do  %>
          <%= image_tag 'avatar_femme.png' %>
        <% end %>
      </div>

      <%= f.label :weight, 'Ton poids est ? (kg)', class:"element-bold" %>
      <div class="slidecontainer" data-controller="slider">
        <div class="container-output" data-slider-target="containerOutput">
          <p class="output" data-slider-target="output"></p>
        </div>
        <%= f.range_field :weight, min: 30, max: 150, class: "slider", data: { action: "input->slider#update change->check#verify" , slider_target: 'input'} %>
      </div>

      <%= f.label :size, 'Tu mesures ? (cm)', class:"element-bold" %>
      <div class="slidecontainer" data-controller="slider">
        <div class="container-output" data-slider-target="containerOutput">
          <p class="output" data-slider-target="output"></p>
        </div>
          <%= f.range_field :size, min: 120, max: 230, class: "slider", data: { action: "input->slider#update change->check#verify", slider_target: "input" } %>
      </div>

      <div class="card">
          <div data-action="click->hello#update">
              <%= f.label :level, "Tu te sens comment sur ta planche ?", class:"question-level" %><br/>
            <div class="level-question">
              <%= f.radio_button :level, "Débutant", class:"radio", data: { hello_target: "deb", action: "change->check#verify"}%>
              <%= f.label :level, "Débutant", class: "filter-level", value: "Débutant"%>
              <%= f.radio_button :level, "Intermédiaire", class:"radio", data: { action: "change->check#verify" } %>
              <%= f.label :level, "Intermédiaire", class: "filter-level", value: "Intermédiaire" %>
              <%= f.radio_button :level, "Confirmé", class:"radio", data: { action: "change->check#verify" } %>
              <%= f.label :level, "Confirmé",class: "filter-level", value: "Confirmé" %>
            </div>
          </div>
      </div>

      <div class="card d-none" data-hello-target="level">
          <%= f.label :waves, 'Ton type de vagues ?', class:"element-bold"%>
        <div class="waves">
          <%= f.radio_button :waves, "molle", class:"radio", data: { action: "change->check#verify"}%>
          <%= f.label :waves, "Molles", class: "filter-level", value: "molle"%>
          <%= f.radio_button :waves, "creuse", class:"radio", data: { action: "change->check#verify"}%>
          <%= f.label :waves, "Creuses", class: "filter-level", value: "creuse" %>
        </div>


          <div data-hello-target="level">
            <%= f.label :objective, 'Tu es de la team ?', class:"objectif-bold"%>
            <div class="objectif">
              <%= f.radio_button :objective, "Plaisir", class:"radio", data: { action: "change->check#verify"} %>
              <%= f.label :objective, "Plaisir", class: "filter-level", value: "Plaisir"%>
              <%= f.radio_button :objective, "Performance", class:"radio", data: { action: "change->check#verify"} %>
              <%= f.label :objective, "Performance", class: "filter-level", value: "Performance" %>
            </div>
          </div>
        </div>

          <div class="temperature">
            <%= f.label :temperature, "Plutôt eau froide ou eau chaude ?" %>
            <div data-hello-target="level" class="level" >
              <%= f.radio_button :temperature, "cold", class:"radio", data: { action: "change->check#verify"} %>
              <%= f.label :temperature, "cold", value: "cold", class:"label-image d-flex flex-column" do %>
                <%= image_tag 'avatar_froid.png'%>
                <span>5° et 13°</span>
              <% end %>
              <%= f.radio_button :temperature, "temp", class:"radio", data: { action: "change->check#verify"} %>
              <%= f.label :temperature, "temp", value: "temp", class:"label-image d-flex flex-column" do %>
                <%= image_tag 'avatar_mid.png' %>
                <span>13° et 20°</span>
              <% end %>
              <%= f.radio_button :temperature, "20 et +", class:"radio", data: { action: "change->check#verify"} %>
              <%= f.label :temperature, "20 et +", value: "20 et +", class:"label-image d-flex flex-column" do %>
                <%= image_tag 'temperature-chaude.png' %>
                <span>20° et +</span>
              <% end %>
            </div>
          </div>

          <div class="card">
            <div class="d-flex justify-content-center">
              <%= f.submit "voir les résultats", class: "btn btn-flat", disabled: true, data: { check_target: "submit" } %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
