<div class="formcontainer">
      <div class="row">
          <div class="col-12"><h2>Voici ta planche de surf idéale !</h2></div>
      </div>
      <div class="row">
        <div class="col-6 d-flex justify-content-center">
          <%= image_tag 'resultsurfboard.avif', class: 'results-image' %>
        </div>
        <div class="col-6">
          <%= image_tag 'wetsuit.jpg', class: 'results-image' %>
        </div>
      </div>

    <% @boards.each do |board| %>
    <%= board.name %>
    <% end %>

    <% @wetsuits.each do |wetsuit| %>
    <%= wetsuit.name %>
    <% end %>

      <div class="row">

      <% if params[:weight].present? && params[:size].present? %>
        <p>Cette planche est parfaite pour un poid de <%= params[:weight] %>kg et une taille de <%= params[:size] %>cm.</p>
      <% else %>
      <% end %>

      <% if params[:level].present? && params[:waves].present? %>
        <p>Pour un <%= params[:level].downcase %> surfer tu seras capable de surfer des super <%= params[:waves] %>s vagues !</p>
      <% else %>
      <% end %>

      <% if params[:objective].present? %>
       <p>Cette planche a été sélectionnée pour te donner <%= params[:objective].downcase %>.</p>
      <% else %>
      <% end %>

      <% if params[:temperature].present? %>
       <p>Ta combi a été sélectionnée pour te rendre le plus comfortable et te soutenir le mieux selon le température d'eau.</p>
      <% else %>
      <% end %>

      <%# ALEX PLZ HELP  %>


      </div>
  </div>
</div>
