<div class="formcontainer">
  <div class="row">
    <div class="col-12">
      <h2>Voici ta planche de surf idéale !</h2>

      <% if params[:weight].present? && params[:size].present? %>
        <p>Cette planche est parfaite pour un poid de <%= params[:weight] %>kg et une taille de <%= params[:size] %>cm.</p>
      <% end %>
      <% if params[:level].present? && params[:waves].present? %>
        <p>Avec un niveau<%= params[:level].downcase %> tu seras capable de surfer des vagues <%= params[:waves] %> sans problème !</p>
      <% end %>
      <% if params[:objective].present? %>
        <p>Cette planche a été sélectionnée pour que tu puisses atteindre ton objectif : <%= params[:objective].downcase %>.</p>
      <% end %>

      <% @boards.each do |board| %>
        <%= board.image %>
        <%= board.name %>
        <%= board.dimension_length %>
        <%= board.dimension_height %>
        <%= board.dimension_thickness %>
        <%= board.volume %>
      <% end %>

      <% if params[:temperature].present? %>
        <p>Ta combi a été sélectionnée pour te rendre le plus comfortable et te soutenir le mieux selon le température d'eau.</p>
      <% end %>

      <% @wetsuits.each do |wetsuit| %>
        <%= wetsuit.name %>
        <%= wetsuit.thickness %>
        <%= wetsuit.zip %>
      <% end %>

   </div>
  </div>
</div>
