<div class="container">
  <h2 class="title-result">Voici notre sélection de planches de surf idéales !</h2>

  <div class="conditions-1">
    <% if params[:weight].present? && params[:size].present? && params[:level].present? && params[:waves].present? && params[:objective].present?%>
      <p>Ces planches sont parfaites pour un poid de <strong><%= params[:weight] %>kg</strong> et une taille de <strong><%= params[:size] %>cm.</strong></p>
      <p>Avec un niveau <strong><%= params[:level].downcase %> </strong>tu seras capable de surfer des vagues <%= params[:waves] %> sans problème !</p>
      <p>Cette planche a été sélectionnée pour que tu puisses atteindre ton objectif : <strong><%= params[:objective].downcase %></strong>.</p>
    <% end %>
  </div>

  <div class="board-container">
    <div class="swipe">
      <%= image_tag 'fleche-droite.png', class: "fleche-img" %>
      <p>Défile pour en voir !</p>
    </div>
    <div class="boards">
      <% @boards.each do |board| %>
        <div class="board">
          <%= image_tag board.image.key, width: 200, height: 250, crop: :fill, class: "image" %>
          <div class="board-cara">
            <p><strong>Nom : </strong> <%= board.name %></p>
            <p><strong>Dimensions de la planche : </strong> <%= board.dimension_length %>ft/ <%= board.dimension_height %>/ <%= board.dimension_thickness %></p>
            <p class="last-element"><strong>Volume de la planche : </strong> <%= board.volume %> litres</p>
            <a class="button-card" href="https://www.boardshop.co.uk/surfboards">En savoir plus</a>
          </div>
        </div>
       <% end %>
    </div>
  </div>


  <h2 class="title-result-2"> Et la combi adaptée pour toi !</h2>
  <div class="conditions-2">
    <% if params[:temperature] == "cold" %>
      <p>Ta combi a été sélectionnée pour ton confort dans les eaux <strong>les plus froides</strong>.</p>
    <% elsif params[:temperature] == "temp" %>
      <p>Ta combi a été sélectionnée pour ton confort dans les <strong>eaux tempérées</strong>.</p>
    <% else %>
      <p>Ta combi a été sélectionnée pour ton confort en <strong>plein été</strong>.</p>
    <% end %>
  </div>

  <div class="board-container">
    <div class="swipe">
      <%= image_tag 'fleche-droite.png', class: "fleche-img" %>
      <p>Défile pour en voir plus !</p>
    </div>
    <div class="wetsuits">
      <% @wetsuits.each do |wetsuit| %>
        <div class="wetsuit">
          <%= image_tag wetsuit.image.key, width: 200, height: 250, crop: :fill, class: "image"%>
          <div class="board-cara">
            <p><strong>Nom : </strong><%= wetsuit.name %></p>
            <p><strong>Epaisseur de la combinaison : </strong> <%= wetsuit.thickness %> mm</p>
            <p class="last-element-2"><strong>Emplacement du zip : </strong> <%= wetsuit.zip %></p>
          </div>
          <a class="button-card" href="https://www.boardshop.co.uk/wetsuits">En savoir plus</a>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="footer-result">
  <%= link_to root_path do %>
    <%= image_tag 'logo-white-3.png', class: "img-footer" %>
    <%= image_tag 'textlogowhitesurfcourse.png', class: "img-text-footer" %>
  <% end %>
</div>


  <%# #link_to root_path %>


<%# <div class="pair-container"> %>
  <%# <div class="pairs"> %>
    <%# <% @pairs.each do |pair| %>
      <%# <div class="pair"> %>
        <%# <p><%= pair[:board].name %>
        <%# <%= pair[:wetsuit].name</p> %>
      <%# </div> %>
    <%# <% end %>
  <%# </div> %>
<%# </div> %>
