<div class="formcontainer">

<div class="text-align">
  <h3>quelques infos</h3>
</div>

  <%= form_with model: Surfboard.new, class: "form" do |f| %>
    <%= f.label 'quel est ton prénom?' %>
    <%= f.text_field :name, class: "text-input" %>
      <br>
      <%= f.label 'genre' %>
      <br>
      <div class="container d-flex justify-content-between">
        <button type="button" class="btn btn-form" .text-center>homme</button>
          <button type="button" class="btn btn-form" .text-center>femme</button>
            <button type="button" class="btn btn-form" .text-center>autre</button>
              <button type="button" class="btn btn-form" .text-center>je préfère ne pas le dire</button>
      </div>

      <div class="slidecontainer">
       <p>poids(kg)</p>
        <input type="range" min="1" max="200" value="70" class="slider" id="myRange">
      </div>

      <div class="slidecontainer">
       <p>taille(cm)</p>
        <input type="range" min="1" max="200" value="70" class="slider" id="myRange">
      </div>

            <br>
      <%= f.label 'quel type de planche' %>
      <br>
      <div class="container d-flex justify-content-between">
        <button type="button" class="btn btn-form" .text-center>shortboard</button>
          <button type="button" class="btn btn-form" .text-center>fishboard</button>
            <button type="button" class="btn btn-form" .text-center>funboard</button>
              <button type="button" class="btn btn-form" .text-center>longboard</button>
      </div>

      <%= f.label 'niveau de surf' %>
      <br>
      <div class="container d-flex justify-content-between">
        <button type="button" class="btn btn-form" .text-center>débutant(e)</button>
          <button type="button" class="btn btn-form" .text-center>intermédiaire</button>
            <button type="button" class="btn btn-form" .text-center>avancé(e)</button>
      </div>

      <div class="slidecontainer">
       <p>tu surfs combien de fois par mois?</p>
        <input type="range" min="1" max="200" value="70" class="slider" id="myRange">
      </div>

      <%= f.label 'tu préfères quels types de vagues' %>
      <br>
      <div class="container d-flex justify-content-between">
        <button type="button" class="btn btn-form" .text-center>small</button>
          <button type="button" class="btn btn-form" .text-center>big</button>
            <button type="button" class="btn btn-form" .text-center>wild</button>
      </div>


  <% end %>

  </div>
</div>
